<div class="container mt-4">
    <div class="row">
        <div class="col-12 text-center font-weight-bold" style="font-size: 20px; color: #272727;">
            <p>This website is designed to evaluate the Accuracy & Completeness of the ChatGPT outputs through a curated, evaluate survey</p>
        </div>
    </div>
    <div class="text-container">
        <div style="margin: auto; width:1000px; marginTop:24px;">
            <img src="https://cdn.analyticsvidhya.com/wp-content/uploads/2023/04/googleVSMicrosoft.jpeg" alt="Header Image"/>
        </div>
        <div class="text-center" style="margin-top: 10px;">
            <p>Citation: Johnson, S.B., King, A.J., Warner, E.L., Aneja, S., Kann, B.H. and Bylund, C.L., 2023. Using ChatGPT to evaluate cancer myths and misconceptions: artificial intelligence and cancer information. JNCI cancer spectrum, 7(2), p.pkad015.</p>
        </div>
    </div>
    <div class="text-center" style="margin-top: 10px;">
      <p style="color: rgb(235, 46, 46);">
        Determine whether the answer is correct by carefully reading the questions given and chatgpt's answers.
      </p>
    </div>
    <div class="row">
        <div class="col-12 text-center my-4">
            <a href="/Login">
                <button type="button" class="btn btn-primary">
                    Get Started
                </button>
            </a>
        </div>
    </div>
</div>
<footer class="text-center mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12" style="margin-top: 28px;">
                <p>© 2023 First Round. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
