/* styles.css */
.paragraph-text {
  font-size: 12px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
#login-form {
  background-color: #ffffff;
  padding: 40px 60px;
  border-radius: 8px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  width: 300px;
}

#login-form label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-weight: bold;
}

#login-form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#login-form button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s;
}

#login-form button:hover {
  background-color: #0056b3;
}

.error {
  background-color: #ffcccc;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  color: #cc0000;
  font-weight: bold;
}

#content-wrapper {
  background-color: #ffffff;
  border-radius: 15px;
  margin: auto;
  padding: 40px;
  max-width: 90%;
  width: 1300px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}

#timer {
  position: absolute;
  top: 140px;
  right: 140px;
  font-size: 20px;
  background-color: #ffffff;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 20px;
  color: #333;
}

p {
  color: #555;
  line-height: 1.6;
}

.content-section {
  margin: 30px 0;
}

.text-container {
  max-width: 1000px;  /* Same as the image width */
  margin: auto;
}

.text-container .text-center p {
  margin: 0 auto;
  width: 100%;
}

.label-spacing {
  margin-right: 24px; /* Adjust this value to increase or decrease spacing */
}

